* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  width: 100%;
  height: 56px;
}
.logo {
  width: 60%;
}
.logo img {
  width: 48%;
  margin-right: 18%;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  margin-top: 10px;
}
.input {
  width: 100%;
  display: flex;
}
.input input {
  height: 100%;
  width: 80%;
  border: 1px solid lightgray;
  outline: none;
  font-size: 18px;
  padding-left: 5px;
}
.input input::placeholder {
  font-size: 18px;
}
.input button {
  font-size: 22px;
  margin-top: 0px;
  padding: 1px 12px;
  border: 1px solid lightgray;
  background-color: transparent;
  cursor: pointer;
}

.main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "s a a a a a";
}
.sidenav {
  grid-area: s;
}

.disContainer {
  grid-area: a;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
}
#displayData {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  cursor: pointer;
}

#displayData div img {
  width: 100%;
}
#displayData div p {
  font-size: 14px;
  padding: 5px 0px 5px 10px;
}
#displayData div h5 {
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  padding: 0px 0px 5px 10px;
}
.links {
  margin-top: 24px;
  margin-left: 12px;
}
.links ul li {
  padding: 12px 20px;
  font-size: 16px;
  transition: 0.3s ease;
  cursor: pointer;
}
.links ul li i {
  padding-right: 14px;
  font-size: 16px;
}
.links ul li:hover {
  background-color: rgb(230, 224, 224);
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.icons i {
  padding: 0 26px 0 7px;
  font-size: 20px;
  cursor: pointer;
}
.icons i:nth-child(1) {
  padding-right: 40%;
}
.icons a img {
  width: 150%;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}
a {
  color: black;
  text-decoration: none;
}
hr {
  margin-top: 12px;
  margin-left: 18%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
.buttons button {
  font-size: 16px;
  margin: 14px 14px 0 10px;
  padding: 7px 16px;
  background-color: #f2f2f2;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.buttons button:hover {
  background-color: lightgray;
}
.buttons button:nth-child(1) {
  background-color: black;
  color: white;
}
.hr {
  margin-left: -4px;
  color: grey;
}
